<div class="psgrading-details">
      <!-- SELECTED STUDENT HEADER START --> <div class="psgrading-header">
        <h1 class = 'activitynameheader'> {{activityname}} </h1>
        <div class="selected-student" data-userid="{{student.id}}">
         <a href="{{student.overviewurl}}"><span class="name">{{student.fullname}}</span></a>
        </div>
    </div> <!-- SELECTED STUDENT HEADER END-->

    <div class="contents">
        <h2>{{task.taskname}} </h2>
        <h3>{{ task.pypuoi}}</h3>
        <div class="details-outcomes">
            <div class="heading">{{#str}}task:outcomes, mod_psgrading{{/str}}</div>
            {{{task.outcomes}}}
        </div>
        {{#gradeinfo.didnotsubmit}}
          <div class="heading alert alert-info">{{student.fullname}} did not submit this task.</div>
        {{/gradeinfo.didnotsubmit}}
        {{^gradeinfo.didnotsubmit}}
            {{>mod_psgrading/details_criterions}}
            {{#gradeinfo.engagement}}
                <div class="details-engagement">
                    <div class="heading">{{#str}}mark:engagement, mod_psgrading{{/str}}</div>
                    <br>
                     <strong>{{ gradeinfo.engagementlang}} </strong>
                     <br><br>
                     {{^taskversion}}
                        {{>mod_psgrading/details_engagement}}
                     {{/taskversion}}
                </div>
            {{/gradeinfo.engagement}}
            {{>mod_psgrading/details_evidence}}
        {{/gradeinfo.didnotsubmit}}
        <div class="details-comment">
            <div class="heading">{{#str}}comment, report_psgrading_downloader{{/str}}</div>
            {{{gradeinfo.comment}}}
        </div>
    </div>
</div>